.button {
    font-family: 'Nekst';
    font-weight: 700;
    font-size: 3rem;
    color: #FFFFFF;
    padding: 16px 92px;
    border-radius: 46px;
    -webkit-border-radius: 46px;
    -moz-border-radius: 46px;
    -ms-border-radius: 46px;
    -o-border-radius: 46px;
    background-color: #FF9514;
    cursor: pointer;
    opacity: 1;
    transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    text-align: center;
}

.button:not([disabled]):hover {
    background-color: #111111;
}

.button:not([disabled]):active {
    background-color: #575757;
}

.button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-right: 5px;
    vertical-align: -0.125em;
    border: 0.1em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: .75s linear infinite spin;
    animation: .75s linear infinite spin;
}


@media(max-width: 1439px) {
    .button {
        padding: 16px 39px;
    }
}

@media(max-width: 1119px) {
    .button {
        padding: 16px 52px;
        margin-top: 44px;
    }
}

@media(max-width: 767px) {
    .button {
        padding: 16px 52px;
        font-size: 3rem;
        margin-top: 32px;
        margin-bottom: 50px;
    }
}

@media(max-width: 403px) {
    .button {
        font-size: 2rem;
    }
}

@media(max-width: 320px) {
    .button {
        max-width: 280px;
        width: 100%;
        height: 60px;
        padding: 8px 39px;
    }
}